---
import {getCollection} from "astro:content"

import Layout from "../../layouts/Layout.astro"
import PostList from "../../components/PostList.astro"
import Category from "../../components/Category.astro"

const category = Astro.params.slug as string

const allPosts = await getCollection("posts")
const posts = allPosts.filter(post => post.data.categories.includes(category))
---

<Layout title={category}>
    <main class="max-w-5xl w-full justify-self-center">
        <div class="text-zinc-500 text-2xl mb-16">
            ← <a href="/" class="underline">Back to all blogs</a>
        </div>

        <p
            class="flex items-end gap-x-4 text-6xl text-teal-900 mb-16 font-bold"
        >
            Posts tagged with <Category category={category} />
        </p>

        <div class="mb-60">
            <PostList posts={posts} />
        </div>
    </main>
</Layout>
