---
import Main from "../components/Main.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Not found">
    <Main>
        <p class="text-center pt-12 text-2xl">
            Not sure what you're looking for, but it's not here.
        </p>
    </Main>
</Layout>
