---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Rhythm Nation">
    <main
        class="px-24 max-sm:px-5 overflow-hidden max-w-7xl justify-self-center w-full"
    >
        <p class="text-center pt-12 text-2xl">
            Not sure what you're looking for, but it's not here.
        </p>
    </main>
</Layout>
