---
import ContactForm from "../components/ContactForm.svelte"
import H1 from "../components/H1.astro"
import Main from "../components/Main.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <Main>
        <H1 text="Contact" />
        <div class="mb-20">
            <ContactForm client:load />
        </div>
    </Main>
</Layout>
