---
import {getCollection} from "astro:content"

import Layout from "../layouts/Layout.astro"
import FeaturedPost from "../components/FeaturedPost.astro"
import PostList from "../components/PostList.astro"
import CategoryList from "../components/CategoryList.astro"

const allPosts = await getCollection("posts")
const featuredPosts = allPosts.filter(post => post.data.featured)
const posts = allPosts.filter(post => !post.data.featured).slice(0, 4)
const allCategories = allPosts.flatMap(post => post.data.categories)
const categories = Array.from(new Set(allCategories))
---

<Layout>
    <main class="">
        <h1 class="text-6xl text-teal-900 font-bold mb-5">
            Rhythm Nation Blog
        </h1>

        <p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">
            Join the Community and learn from Music Producers and Enthusiasts
        </p>

        {featuredPosts.map(post => <FeaturedPost post={post} />)}

        <hr class="w-full border border-teal-900 mb-16 max-sm:mb-10" />

        <div
            class="grid grid-cols-[auto,1fr] gap-x-14 gap-y-3 mb-16 max-lg:grid-cols-1"
        >
            <span class="font-bold text-5xl text-teal-900">Recent posts</span>
            <CategoryList categories={categories} />
        </div>

        <div class="mb-32">
            <PostList posts={posts} />
        </div>

        <div class="flex justify-end mb-60 max-sm:mb-36">
            <a
                href={`/blog`}
                class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
            >
                Read more
            </a>
        </div>
    </main>
</Layout>
