---
import Layout from "../layouts/Layout.astro"
import bcrypt from "bcryptjs"
import {XataClient} from "../xata"
import Main from "../components/Main.astro"

const xata = new XataClient({apiKey: import.meta.env.XATA_API_KEY})

const errors: Record<string, string> = {}

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData()

    const email = data.get("email") as string
    const password = data.get("password") as string

    const user = await xata.db.users.filter({email}).getFirst()

    if (!user) {
        errors.email = "Incorrect username"
    } else {
        const authenticated = bcrypt.compareSync(password, user.password)

        if (!authenticated) {
            errors.password = "Incorrect password"
        } else {
            Astro.cookies.set("userId", user.id)
            Astro.cookies.set("userEmail", user.email as string)

            const redirect = Astro.url.searchParams.get("redirect") ?? "/"
            return Astro.redirect(redirect, 302)
        }
    }
}
---

<Layout title="Login">
    <Main>
        <p class="text-teal-900 font-bold text-5xl mb-20">Login</p>

        <form method="POST">
            <label for="email" class="mb-2 block text-teal-900">
                Email address
            </label>

            <input
                class="border-teal-900 border w-full mb-2 rounded-lg px-6 py-3"
                type="email"
                name="email"
                id="email"
            />

            <p class="text-red-800 mb-10">{errors.email}</p>

            <label for="password" class="mb-2 block text-teal-900">
                Password
            </label>

            <input
                class="border-teal-900 border mb-2 w-full rounded-lg px-6 py-3"
                type="password"
                name="password"
                id="password"
            />

            <p class="text-red-800 mb-16">{errors.password}</p>

            <button
                type="submit"
                class="text-white text-2xl bg-teal-900 w-full rounded-lg px-6 py-3 mb-11"
            >
                Login
            </button>
        </form>

        <p class="text-zinc-500 text-lg text-center">
            Don't have an account? <a
                href="/signup"
                class="text-teal-900 underline">Sign up</a
            >
        </p>
    </Main>
</Layout>
