---
import bcrypt from "bcryptjs"
import {XataClient} from "../xata"
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"

const xata = new XataClient({apiKey: import.meta.env.XATA_API_KEY})

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData()

    const name = data.get("name") as string
    const email = data.get("email") as string
    const password = data.get("password") as string

    const salt = bcrypt.genSaltSync(10)
    const hash = bcrypt.hashSync(password, salt)

    const user = await xata.db.users.create({
        name,
        email,
        password: hash,
    })

    Astro.cookies.set("userId", user.id, {
        httpOnly: true,
        secure: true,
    })
    Astro.cookies.set("userName", user.name, {
        httpOnly: true,
        secure: true,
    })
    Astro.cookies.set("userEmail", user.email as string, {
        httpOnly: true,
        secure: true,
    })

    return Astro.redirect("/", 302)
}
---

<Layout title="Sign up">
    <Main>
        <p class="text-teal-900 font-bold text-5xl mb-20">Sign up</p>

        <form method="POST">
            <label for="name" class="mb-2 block text-teal-900">
                Full name
            </label>

            <input
                class="border-teal-900 border w-full mb-10 rounded-lg px-6 py-3"
                type="text"
                name="name"
                id="name"
            />

            <label for="email" class="mb-2 block text-teal-900">
                Email address
            </label>

            <input
                class="border-teal-900 border w-full mb-10 rounded-lg px-6 py-3"
                type="email"
                name="email"
                id="email"
            />

            <label for="password" class="mb-2 block text-teal-900">
                Password
            </label>

            <input
                class="border-teal-900 border w-full mb-16 rounded-lg px-6 py-3"
                type="password"
                name="password"
                id="password"
            />

            <button
                type="submit"
                class="text-white text-2xl bg-teal-900 w-full rounded-lg px-6 py-3 mb-11"
            >
                Sign up
            </button>
        </form>

        <p class="text-zinc-500 text-lg text-center">
            Already have an account? <a
                href="/login"
                class="text-teal-900 underline">Login</a
            >
        </p>
    </Main>
</Layout>
