---
import H1 from "../components/H1.astro"
import Main from "../components/Main.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <Main>
        <H1 text="Thank You for reaching out!" />
        <p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">
            We appreciate you reaching out and we'll get back to you as soon as we can.
        </p>
    </Main>
</Layout>
