---
type Props = {
    category: string
}

const {category} = Astro.props
---

<a
    href={`/category/${category}`}
    class="text-teal-900 rounded-3xl uppercase text-xl p-2 border-2 border-teal-900 whitespace-nowrap"
>
    {category}
</a>
