---
import {Image} from "@astrojs/image/components"
---

<header
    class="flex justify-between items-center px-24 py-12 max-sm:px-5 max-sm:py-10 max-w-7xl justify-self-center w-full"
>
    <div class="flex gap-x-4 items-center">
        <Image
            src="/heartbeat.png"
            alt="rhythm nation logo"
            width={64}
            height={64}
            format="webp"
            class="w-16"
        />
        <p class="uppercase text-3xl text-zinc-900">blog</p>
    </div>

    <svg
        width="45"
        height="45"
        viewBox="0 0 45 45"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="max-sm:hidden text-teal-900"
    >
        <path
            d="M36.7073 38.4719C35.0477 36.2747 32.9007 34.4929 30.4353 33.2668C27.9699 32.0407 25.2535 31.4038 22.5 31.4063C19.7465 31.4038 17.0301 32.0407 14.5647 33.2668C12.0993 34.4929 9.95226 36.2747 8.29275 38.4719M36.7073 38.4719C39.9456 35.5915 42.2294 31.7947 43.2603 27.5851C44.2912 23.3755 44.0181 18.952 42.4772 14.9012C40.9363 10.8503 38.2005 7.36363 34.6324 4.90341C31.0644 2.4432 26.8328 1.12573 22.4988 1.12573C18.1648 1.12573 13.9332 2.4432 10.3652 4.90341C6.79715 7.36363 4.06128 10.8503 2.5204 14.9012C0.979508 18.952 0.706411 23.3755 1.73732 27.5851C2.76823 31.7947 5.05444 35.5915 8.29275 38.4719M36.7073 38.4719C32.7981 41.9588 27.7384 43.8825 22.5 43.875C17.2608 43.8831 12.2026 41.9594 8.29275 38.4719M29.625 17.1563C29.625 19.046 28.8743 20.8582 27.5381 22.1944C26.2019 23.5306 24.3897 24.2813 22.5 24.2813C20.6103 24.2813 18.7981 23.5306 17.4619 22.1944C16.1257 20.8582 15.375 19.046 15.375 17.1563C15.375 15.2666 16.1257 13.4543 17.4619 12.1181C18.7981 10.7819 20.6103 10.0313 22.5 10.0313C24.3897 10.0313 26.2019 10.7819 27.5381 12.1181C28.8743 13.4543 29.625 15.2666 29.625 17.1563Z"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
    </svg>
</header>
