---
import {Image} from "astro:assets"

const userEmail = Astro.cookies.get("userEmail")
---

<header
    class="flex justify-between items-center px-24 py-12 max-sm:px-5 max-sm:py-10 max-w-7xl justify-self-center w-full"
>
    <a href="/" class="flex gap-x-4 items-center">
        <Image
            src="/heartbeat.png"
            alt="rhythm nation logo"
            width={64}
            height={64}
            format="webp"
            class="w-16"
        />

        <p class="uppercase text-3xl text-zinc-900">blog</p>
    </a>

    {
        userEmail?.value ? (
            <a
                href="/logout"
                class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
            >
                Logout
            </a>
        ) : (
            <a
                href="/login"
                class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
            >
                Login
            </a>
        )
    }
</header>
