<h2 class="text-white text-4xl mb-3 max-sm:text-left">
    Subscribe to the Rhythm Newsletter!
</h2>
<p class="text-zinc-300 text-xl mb-12 max-sm:mb-16 max-sm:text-left">
    Join the community and learn from Music Producers and Enthusiasts
</p>

<form
    method="POST"
    action="/api/newsletter"
    class="grid grid-cols-[1fr,auto] mx-auto items-end max-w-xl mb-12 gap-x-4 max-sm:grid-cols-1 gap-y-4"
>
    <div class="flex flex-col items-start">
        <label for="email" class="text-white text-lg mb-2">Email address</label>

        <input
            type="email"
            name="email"
            id="email"
            class="bg-green-950 border-2 border-white rounded-lg w-full text-white px-6 text-lg h-16"
        />
    </div>
    <button
        type="submit"
        class="bg-white text-teal-900 py-4 px-8 rounded-xl text-2xl h-16"
    >
        Subscribe
    </button>
</form>
