---
import type {CollectionEntry} from "astro:content"

import Post from "./Post.astro"

type Props = {
    posts: CollectionEntry<"posts">[]
}

const {posts} = Astro.props
---

<div
    class="grid grid-cols-2 gap-x-16 gap-y-32 max-md:grid-cols-1 max-sm:gap-y-14"
>
    {posts.map(post => <Post post={post} />)}
</div>
