---
import Layout from "../../layouts/Layout.astro"
import Main from "../../components/Main.astro"
---

<Layout title="Newsletter Success!">
    <Main>
        <p class="text-center pt-12 text-2xl">Thanks for subscribing</p>
    </Main>
</Layout>
