---
import "@fontsource/cabin"

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

//TODO missing metadata properties:
// og:type
// og:url
// og:title
// og:description
// og:image
// twitter:card
// twitter:url
// twitter:title
// twitter:description
// twitter:image

//TODO: update favicon with music heart icon
export interface Props {
    title: string
}

const {title} = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="min-h-screen">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>

    <body class="min-h-screen grid grid-rows-[auto,1fr,auto]">
        <Header />
        <slot />
        <Footer />
    </body>
</html>
